/***** CSS du SELECT2 *****/
/**************************/

/* Styles pour la sélection simple */
.select2-container--default .select2-selection--single {
  height: 43px !important;
  border: 1.3px solid #b8bbc2 !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  text-transform: uppercase;
}

/* Styles pour une option sélectionnée mise en surbrillance */
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: transparent !important;
  color: #000 !important;
}

/* Styles pour une option hover */
.select2-container--default .select2-results__option:hover {
  background-color: #ffd6d6 !important;
  color: white !important;
}

/* Styles pour une option activée (clic) */
.select2-container--default .select2-results__option:active {
  background-color: #fe5858 !important;
  color: white !important;
}

/* Styles pour une option en focus */
.select2-container--default .select2-results__option:focus {
  background-color: #e00000 !important;
  color: white !important;
}

/* Styles pour la première option (cachée) */
.select2-container--default .select2-results__option:first-child {
  background-color: #ffd6d6 !important;
  color: #000 !important;
  display: none;
}

/* Styles pour une option sélectionnée (non première) */
.select2-container--default
  .select2-results__option:not(:first-child)[aria-selected="true"] {
  background-color: #e00000 !important;
  color: #fff !important;
}

/* Styles pour la dropdown */
.select2-container--default .select2-dropdown {
  top: -4px;
  margin-top: 28px;
  @media screen and (max-width: 781px) {
    top: 9px;
    margin-top: 32px;
  }
}

/* Styles pour la barre de recherche dans la dropdown (cachée) */
.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}

/* Styles pour la flèche dans la sélection simple */
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: 4px !important;
  position: absolute;
  top: 50%;
  width: 0;
}
