// Import Select2 default styles
@import url("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css");

.filters_section {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-left: 144px;
  gap: 40px;

  .date {
    margin-left: 750px;
  }
  // .filters {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
  .filter_label {
    font-family: "Poppins", sans-serif;
    display: none;
  }
  
}

.select2-container--default .select2-selection--single {
  height: 38px;
  line-height: 36px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 12px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #333;
  line-height: 36px;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: red;
  color: white;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: red;
  color: white;
}

.select2-container .select2-dropdown {
  border: 1px solid #ddd;
  border-radius: 4px;
}
