/************************** fonts ***************************/
@font-face {
  font-family: "space-mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: regular;
  font-display: swap;
}

#container {
  max-width: 1440px;
  margin: 0 auto;
}
/*************** menu de navigation *******************/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu a {
  text-decoration: none;
  font-family: "space-mono";
  padding: 8px 16px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
  text-transform: uppercase;
}

/************************ moadal *******************/

.hidden {
  display: none;
}

#overlay {
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/*************** modal version desktop ***************/
#contact-modal {
  background: white;
  width: 497px;
  height: 95vh;
  border: 5px solid #000000;
  z-index: 9999;
  overflow: hidden;
  margin: 10px auto;
}
#contact-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact-modal form p {
  margin: 0;
}

#contact-modal img {
  margin: 5px auto 45.95px -16.31%;
}
#contact-modal label {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #000;
}
#contact-modal input[type="text"],
#contact-modal input[type="email"],
#contact-modal input[type="submit"] {
  width: 263px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
}
#contact-modal textarea {
  width: 263px;
  height: 110px;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  resize: none;
}
#contact-modal input[type="submit"] {
  width: 263px;
  height: 50px;
  background-color: #d8d8d8;
  color: #000;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  border: none;
  cursor: pointer;
}
.wpcf7-spinner {
  display: none; /*permet de centrer le bouton */
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
}
/******************* fin de modal *********************/

#menu-footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
